*{
    margin:0;
    padding:0;
}

body{
    background-color: pink;
    overflow: hidden;
}

.gameContainer {
    background-image: url(GameAssets/background.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width:100%;
    height:100vh;
}

.cindrella{
    background-image: url("GameAssets/Cindrella.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height:200px;
    width:200px;
    /* background-color: blue; */
    position:absolute;
    bottom:0;
    left:300px;
}

.obstacle {
    background-image: url("GameAssets/enemy2.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height:200px;
    width:200px;
    /* background-color: orange; */
    position:absolute;
    bottom:0 ;
    right:-300px;

}

.run{
    animation:obsAni 2s linear infinite;
}

@keyframes obsAni {
    0%{
        right:-300px;
    }
    
    100%{
        right:100%;
    }
}

.jump{
    animation:JumpAni 1s ease-out;
}

@keyframes JumpAni{
    0%{
        bottom:0;
        left:300px;
    }
    50%{
        bottom: 500px;
        /* left:350px; */
    }
    100%{
        bottom:0;
        left:450px;
    }
}

.score {
    position: absolute;
    top:20px;
    left:20px;
    font-size:40px;
    font-weight:bold;
    color:white;
    z-index:5;
}

.img-welcome{
    width:180px;
}

.pause{
    animation-play-state: paused;
}